.room {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: #f5f5f5;

  &__messages {
    position: relative;
    height: 78vh;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    border-radius: 7px;
    overflow-y: scroll;
    @media(max-width: 767px) {
      height: 72vh;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
    li {
      max-width: 540px;
      word-wrap: break-word;
      line-height: 24px;
      position: relative;
      padding: 10px 20px;
      border-radius: 25px;
      &:before, &:after {
        content: "";
        position: absolute;
        bottom: 0;
        height: 25px;
      }
    }
    li:nth-child(n + 2) {
      margin-top: 12px;
    }
  }

  .from-me {
    position: relative;
    color: white;
    background: #0B93F6;
    align-self: flex-end;
    cursor: pointer;
    white-space: pre-wrap;
    &:before {
      right: -7px;
      width: 20px;
      background-color: #0B93F6;
      border-bottom-left-radius: 16px 14px;
    }
    &:after {
      right: -26px;
      width: 26px;
      background-color: #f5f5f5;
      border-bottom-left-radius: 10px;
    }
  }

  .from-them {
    background: #E5E5EA;
    color: black;
    align-self: flex-start;
    cursor: pointer;

    &:before {
      left: -7px;
      width: 20px;
      background-color: #E5E5EA;
      border-bottom-right-radius: 16px 14px;
    }

    &:after {
      left: -26px;
      width: 26px;
      background-color: #f5f5f5;
      border-bottom-right-radius: 10px;
    }
  }

  &__message-delete {
    display: none;
    position: absolute;
    top: -6px;
    svg {
      fill: red;
    }
    &_show {
      display: block;
    }
    &_me {
      right: -17px;
    }
    &_them {
      left: -17px;
    }
  }

  &__img {
    max-width: 500px;
    max-height: 300px;

    @media(max-width: 767px) {
      max-height: 200px;
      max-width: 230px;
    }
  }

  &__textarea {
    flex-grow: 0;
  }

  &__images-previews {
    position: fixed;
    bottom: 169px;

    &__item {
      position: relative;

      img {
        width: 80px;
        height: 80px;
        border-radius: 10px;
        object-fit: cover;
        box-shadow: 0 0 6px rgba(0,0,0,0.26);
        @media(max-width: 767px) {
          width: 60px;
          height: 60px;
        }
      }

      &__remove-btn {
        position: absolute;
        right: -2px;
        top: -2px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 10px;
        background: white;
        box-shadow: 0 0 6px rgba(0,0,0,0.26);
        cursor: pointer;
      }
    }
  }

  &__input-wrapper {
    position: absolute;
    right: 42px;
    bottom: 86px;
    z-index: 1;
  }

  &__sticker-wrapper {
    position: fixed;
    bottom: 169px;
    box-shadow: 0 0 6px rgb(0 0 0 / 26%);
    border-radius: 10px;
    background: #f5f5f5;
    padding: 20px;
    img {
      cursor: pointer;
    }
  }

  &__scroll-bottom {
    align-self: center;
    position: absolute;
    top: -50px;
    opacity: 0;
    transition: all 0.5s;

    //button {
    //  width: 140px;
    //  min-height: 35px;
    //  border-radius: 20px;
    //  font-size: 14px;
    //  background: #0B93F6;
    //  color: white;
    //}

    &_show {
      opacity: 1;
      top: 40px;
    }
  }

  .scroll-style {
    &::-webkit-scrollbar {
      width: 4px;
    }
    &::-webkit-scrollbar-track {
      background: transparent;
    }
    &::-webkit-scrollbar-thumb {
      background: rgba(153, 194, 248, 0.63);
      border-radius: 15px;
    }
  }
}